@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,400&display=swap');

$white : #ddd;
$black: #333;
$accent:#cb0505    ;


// $font-main: "Typewriter",
//   sans-serif;
// $font-second: "Typewriter",
//   sans-serif;

// $font-main: "Lato",
//   sans-serif;
// $font-second: "Lato",
//   sans-serif;
$font-main: "Montserrat",
  sans-serif;
$font-second: "Montserrat",
  sans-serif;

  
  @mixin breakpoint($size) {
    @media only screen and (min-width: $size) {
      @content;
    }
  }
  
  // Define your breakpoints as variables
  $xs: 400px;
  $sm: 576px;
  $md: 768px;
  $lg: 992px;
  $xl: 1200px;
  $xxl: 1400px;
  